<?xml version="1.0"?>
	<!--
		/** * @category Netresearch * @package Rotor_Lucene *
		@author ModuleCreator * @license
		http://opensource.org/licenses/osl-3.0.php Open Software License (OSL
		3.0) */
	-->
<config>
    <modules>
        <Rotor_Lucene>
            <version>0.1.0</version>
        </Rotor_Lucene>
    </modules>
    <frontend>
        <routers>
            <lucene>
                <use>standard</use>
                <args>
                    <module>Rotor_Lucene</module>
                    <frontName>search</frontName>
                </args>
            </lucene>
        </routers>
        <layout>
            <updates>
                <lucene>
                    <file>lucene.xml</file>
                </lucene>
            </updates>
        </layout>
        <translate>
            <modules>
                <Rotor_Lucene>
                    <files>
                        <default>Rotor_Lucene.csv</default>
                    </files>
                </Rotor_Lucene>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <lucene>
                <class>Rotor_Lucene_Block</class>
            </lucene>
        </blocks>
        <helpers>
            <lucene>
                <class>Rotor_Lucene_Helper</class>
            </lucene>
        </helpers>
        <models>
            <lucene>
                <class>Rotor_Lucene_Model</class>
            </lucene>
        </models>
        <translate>
            <modules>
                <Rotor_Lucene>
                    <files>
                        <default>Rotor_Lucene.csv</default>
                    </files>
                </Rotor_Lucene>
            </modules>
        </translate>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Rotor_Lucene>
                    <files>
                        <default>Rotor_Lucene.csv</default>
                    </files>
                </Rotor_Lucene>
            </modules>
        </translate>
    </adminhtml>
</config>